@import "../../../styles/variables";

.post-card {
  position: relative;
  width: 370px;
  height: 552px;
  background: $color-white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  flex: none;
  order: 0;
  flex-grow: 0;

  &__image {
    position: absolute;
    width: 370px;
    height: 288px;
    left: 0;
    top: 0;
    background-color: #868383;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
  }

  &__content {
    position: absolute;
    width: 320px;
    height: 213px;
    left: 25px;
    top: 314px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  &__title {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $color-black;
    margin: 0 0 10px 0;
    max-height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__excerpt {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: $color-gray;
    margin: 0 0 38px 0;
    max-height: 82px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__location {
    margin: 0 0 4px 0;

    .post-card__country-city {
      font-family: $font-primary;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      color: $color-black;
    }
  }

  &__link {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-decoration-line: underline;
    color: $color-primary;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    margin-top: auto;
    padding: 0;

    &:hover {
      color: darken($color-primary, 10%);
    }
  }
}
