@import "../../../styles/variables";

.hero {
  position: relative; /* Изменяем с absolute на relative */
  width: 100%;
  height: 251px; /* Фиксированная высота */
  background-size: cover;
  background-position: center;
  z-index: 1;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $color-overlay;
  }

  &__title {
    position: absolute;
    width: 1100px;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-primary;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
    color: $color-white;
    margin: 0;
    z-index: 2;
    text-align: center;
  }
}
