@import "../styles/variables";

.home-page {
  min-height: 100vh;
  background-color: $color-gray-bg;
  padding: 20px 0;

  .posts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 350px;
    margin-bottom: 30px;
    justify-content: center;
    padding: 0 15px;

    @media (min-width: $breakpoint-tablet) {
      gap: 25px;
      margin-top: 400px;
    }

    @media (min-width: $breakpoint-desktop) {
      gap: 30px;
      margin-top: 482px;
      margin-bottom: 50px;
    }
  }

  .add-post-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 0 15px;

    @media (min-width: $breakpoint-tablet) {
      margin: 40px 0;
    }

    @media (min-width: $breakpoint-desktop) {
      margin: 50px 0;
    }

    .add-post-btn {
      width: 100%;
      max-width: 280px;
      height: 45px;
      font-size: 14px;

      @media (min-width: $breakpoint-tablet) {
        max-width: 294px;
        height: 51px;
        font-size: 16px;
      }
    }
  }

  .loading,
  .no-posts {
    text-align: center;
    margin-top: 350px;
    font-size: 16px;
    color: $color-gray;
    padding: 0 15px;

    @media (min-width: $breakpoint-tablet) {
      margin-top: 400px;
      font-size: 18px;
    }

    @media (min-width: $breakpoint-desktop) {
      margin-top: 482px;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 30px 0;
    padding: 0 15px;
    flex-wrap: wrap;

    @media (min-width: $breakpoint-tablet) {
      gap: 8px;
      margin: 40px 0;
    }

    @media (min-width: $breakpoint-desktop) {
      gap: 10px;
      margin: 40px 0;
    }

    &__btn {
      width: 35px;
      height: 35px;
      border: 1px solid $color-gray-light;
      background: $color-white;
      border-radius: 5px;
      cursor: pointer;
      font-family: $font-primary;
      font-size: 14px;
      color: $color-black;
      transition: all 0.2s;

      @media (min-width: $breakpoint-tablet) {
        width: 38px;
        height: 38px;
        font-size: 15px;
      }

      @media (min-width: $breakpoint-desktop) {
        width: 40px;
        height: 40px;
        font-size: 16px;
      }

      &:hover:not(:disabled) {
        background: $color-primary;
        color: $color-white;
        border-color: $color-primary;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &--active {
        background: $color-primary;
        color: $color-white;
        border-color: $color-primary;
      }
    }
  }
}
