@import "../../../styles/variables";

.comment-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__author {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  &__date {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color-gray;
  }

  &__text {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
