@import '../../../styles/variables';

.comment-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-gray-light;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__author {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $color-black;
  }

  &__date {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color-gray;
  }

  &__text {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-black;
    margin-top: 5px;
  }
}